<template>
  <button><slot /></button>
</template>

<style lang="scss" scoped>
button {
  display: inline-block;
  padding: 10px 30px;
  background: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  margin-right: 1rem;
  cursor: pointer;
}
</style>
