<template>
  <input
    ref="inputRef"
    type="file"
    name="image"
    accept="image/*"
    @change="getImgSrc"
  />
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  setup(_props, { emit }) {
    const inputRef = ref();

    const open = (): void => {
      if ("click" in inputRef.value) {
        inputRef.value.click();
      }
    };

    const getImgSrc = (e: Event) => {
      const target = e.target as HTMLInputElement;
      if (target.files && target.files.length > 0) {
        const file = target.files[0];
        const reader = new FileReader();
        reader.onload = (event) => {
          if (event.target) {
            emit("setImage", event.target.result);
          }
        };
        reader.readAsDataURL(file);
      }
    };
    return {
      inputRef,
      open,
      getImgSrc,
    };
  },
});
</script>

<style lang="scss" scoped>
input {
  display: none;
}
</style>
