<template>
  <div class="container">
    <h1>Fotobearbeitung für Hockeypässe 🏑</h1>
    <ol>
      <li>Foto laden</li>
      <li>Ausschnitt wählen</li>
      <li>Speichern klicken oder das Bild doppelklicken</li>
    </ol>
    <p>Das Bild wird im Format 120 x 160 Pixel lokal gespeichert.</p>
    <p>
      Es findet keine Netzwerkkommunikation statt. Alles passiert im Browser und
      funktioniert offline.
    </p>
    <hr />
    <p v-if="!showLicense">
      <a href="#" @click.prevent="showLicenseText">
        Kontakt, Copyright und ❤️
      </a>
    </p>
    <div v-else>
      <p>
        ❤️🖤
        <a href="https://www.bergstedt-hockey.de" target="_blank">
          SV Bergstedt Hockey
        </a>
        🖤❤️
      </p>
      <p>
        version {{ versionString }} vom {{ versionDatetime }}, zum
        <a href="https://gitlab.com/leindirk/hppc" target="_blank">Code</a>, zur
        <a href="https://leindirk.gitlab.io/hppc/HockeyPassPhotoCropper.html">
          aktuellen Version
        </a>
      </p>
      <hr />
      <p>
        ❤️ Vielen Dank an die Maintainer und Contributer von
        <a href="https://v3.vuejs.org/" target="_blank"> Vue.js 3 </a>,
        <a href="https://github.com/fengyuanchen/cropperjs" target="_blank">
          Cropper.js </a
        >,
        <a href="https://github.com/Agontuk/vue-cropperjs" target="_blank">
          vue-cropperjs </a
        >, <a href="https://github.com/nodeca/pica" target="_blank"> pica </a>,
        <a href="https://github.com/eligrey/FileSaver.js" target="_blank">
          FileSaver.js
        </a>
        und viele andere!
      </p>
      <hr />
      <p>
        Kontakt und &copy;
        <a href="mailto:spielverkehr@bergstedt-hockey.de"> Dirk Lein </a> 🏑
      </p>
      <p>Released under the MIT license</p>
      <p>
        Permission is hereby granted, free of charge, to any person obtaining a
        copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:
      </p>
      <p>
        The above copyright notice and this permission notice shall be included
        in all copies or substantial portions of the Software.
      </p>
      <p>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
        OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
        IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
        CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
        TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
        SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import packageJson from "../../package.json";

export default defineComponent({
  setup() {
    const showLicense = ref(false);

    const versionString: string = packageJson.version;

    const versionDatetime = computed(() => {
      if (typeof document.getElementById("versionDatetime") !== undefined) {
        return document.getElementById("versionDatetime")?.innerText;
      } else {
        return "";
      }
    });

    const showLicenseText = (): void => {
      showLicense.value = true;
    };

    return {
      versionString,
      versionDatetime,
      showLicense,
      showLicenseText,
    };
  },
});
</script>

<style lang="scss" scoped>
.container {
  padding: 3rem 2rem;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 5rem;
  }
}
a,
a:hover,
a:active,
a:visited {
  color: blue;
  text-decoration: none;
}
</style>
