<template>
  <div>
    <TheFileChooser ref="theFileChooser" @setImage="setImage" />

    <div class="container">
      <div class="actions">
        <StandardButton @click.prevent="openTheFileChooser">
          Laden
        </StandardButton>
        <StandardButton @click.prevent="cropImage" v-if="imgSrc">
          Speichern
        </StandardButton>
      </div>

      <vue-cropper
        v-if="imgSrc"
        ref="cropper"
        class="cropper"
        :aspect-ratio="0.75"
        :view-mode="1"
        :src="imgSrc"
        :zoomable="false"
        :movable="false"
        @dblclick.prevent="cropImage"
      />

      <TheSplash v-else />
    </div>
  </div>
</template>

<script lang="ts">
import { ref, computed, defineComponent } from "vue";

import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";
import Pica from "pica";
import FileSaver from "file-saver";

import TheFileChooser from "@/components/TheFileChooser.vue";
import TheSplash from "@/components/TheSplash.vue";
import StandardButton from "@/components/StandardButton.vue";

export default defineComponent({
  components: {
    VueCropper,
    TheSplash,
    TheFileChooser,
    StandardButton,
  },

  setup() {
    const theFileChooser = ref();
    const cropper = ref();
    const imgSrcRef = ref();

    const openTheFileChooser = () => {
      theFileChooser.value.open();
    };

    const setImage = (value: string) => {
      imgSrcRef.value = value;
      if (cropper.value) {
        cropper.value.replace(value);
      }
    };

    const imgSrc = computed(() => {
      return imgSrcRef.value;
    });

    const cropImage = () => {
      const canvas = document.createElement("canvas");
      canvas.width = 120;
      canvas.height = 160;

      const pica = new Pica();
      pica
        .resize(cropper.value.getCroppedCanvas(), canvas, {
          unsharpAmount: 200,
          unsharpRadius: 2,
          unsharpThreshold: 255,
        })
        .then((result) => pica.toBlob(result, "image/jpeg", 0.9))
        .then((blob) => FileSaver.saveAs(blob, "image.jpg"));
    };

    return {
      openTheFileChooser,
      setImage,
      cropImage,
      theFileChooser,
      cropper,
      imgSrc,
    };
  },
});
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 100vh;
}

.actions {
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
}
.cropper {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.cropper-point,
.cropper-line {
  background-color: #b01c3e;
}
.cropper-view-box {
  outline: 1px solid #555;
}
</style>
